Repository UoaWDCC/Stick-Insect, pull requests merged in 2021-08, with the labels that each got.

#8 [STINS-003] Implement the main page via proto design
  frontend/src/App.js
  frontend/src/components/MainPage.js
  frontend/src/components/MainPage.module.css
Labels: Frontend

#4 [STINS-006] link-backend-with-mongodb
  backend/package.json
  backend/src/server.js
Labels: Backend

#14 [STINS-018] Adding Continous Integration Pipeline using Github Actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
  README.md
  backend/.eslintrc.json
  backend/.prettierrc.json
  backend/package-lock.json
  backend/package.json
  backend/src/database/database.js
  backend/src/routes/api/index.js
  backend/src/routes/index.js
  backend/src/server.js
  frontend/.eslintrc.json
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/ConsentPage.js
  frontend/src/components/ConsentPage.module.css
  frontend/src/components/MainPage.js
  frontend/src/components/MainPage.module.css
  frontend/src/components/QuestionPage.js
  frontend/src/components/QuestionPage.module.css
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/reportWebVitals.js
  frontend/src/setupTests.js
Labels: documentation, Frontend, Backend

#15 [STINS-018] Update GitHub workflow trigger to use main branch
  .github/pull_request_template.md
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
Labels: bug

#13 [STINS-011] Implement buttons
  frontend/package-lock.json
  frontend/src/App.js
  frontend/src/components/ConsentPage.js
  frontend/src/components/MainPage.js
  frontend/src/components/QuestionPage.js
Labels: Frontend
